@*@using BlogProject.MODEL.Entities*@
@{
    ViewData["Title"] = "Index";
}
@model IEnumerable<BlogProject.MODEL.Entities.Category>
@foreach (var item in Model)
{
    <article class="col-12 col-md-6 tm-post">
        <hr class="tm-hr-primary">
        <a asp-controller="Post" asp-action="PostsByCategory" asp-route-id="@item.ID" href="post.html" class="effect-lily tm-post-link tm-pt-60">
            
            <h2 class="tm-pt-30 tm-color-primary tm-post-title">@item.CategoryName</h2>
        </a>
        <p class="tm-pt-30">
            @item.Description
        </p>
    </article>
}